.projectsBody{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #2E2E2E;
    

}
.prjctImg{
    border-radius: 1.5rem;
    width: 19.5rem;
    height: 18.5rem;
    margin-right: 0.5rem;
}
.projectHdr{
    width: 9.5rem;
    padding-right: 1%;
    padding-left: 1%;
}


.wellDone{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1%;
}
.wdInfo{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.wdBio {
    background-color: #f0f0f0;
    height: 23.5rem;
    width: 73.5rem;
    border-radius: 1.5rem;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
}