.projectsBody{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #2E2E2E;
    

}
.prjctImg{
    border-radius: 1.5rem;
    width: 18.5rem;
    height: 18.5rem;
    /* margin-right: 0.5rem; */
    background-color: white;
}


.foodTruck {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1%;
    width: 93%;
}
.wellDone {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1%;
    width: 93%;
}
.wdInfo{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.wdBio {
    background-color: #f0f0f0;
    /* height: 100%; */
    /* width: 75.5rem; */
    border-radius: 1.5rem;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    /* padding-top: 2.5%; */
    /* padding-bottom: 2.5%; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1%;
}
.ftInfo{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;

}
.ftBio {
    background-color: #f0f0f0;
    /* height: 20.5rem; */
    /* width: 75.5rem; */
    border-radius: 1.5rem;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1%;
}
.wdLinks{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1%; */
    margin-bottom: 10%;
    width:84%;
}

.deployed{
    display: flex;
    align-items: center;
    width: 12.5rem;
    flex-flow: row;
    justify-content: center;
    background: #f0f0f0;
    color: #2e2e2e;
    border-radius: 0.5rem;
    margin-left: 35%;
    border: none;
    text-decoration: none;
}
.gitHub{
    background: #f0f0f0;
    border-radius: 0.5rem;
    margin-left: 56%;
    padding: 13%;
    border: none;
    color: #2e2e2e;
}

@media(max-width:900px){
	.wdInfo{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .ftInfo {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .wdLinks {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

}
@media(max-width:500px){

    .circleImg {
        height: 54vw;
        border-radius: 50%;
        padding-top: 6%;
        padding-bottom: 5%;
        transform: rotate(38deg);
    }
    
    
}