.gitProfile {
  display: flex;
  justify-content: flex-start;
  flex-flow: row-reverse;
  background-color: #2e2e2e;
  padding-right: 14.5rem;
}

.Card {
  display: flex;
  flex-flow: row;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  border: none;
}
.gitImg {
  padding-top: 1%;
}
.gitInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 21rem;
  padding-right: 1%;
  color: #2e2e2e;
  text-decoration: none;
}

.button:hover {
  color: #16a085;
}
