.gitProfile {
  display: flex;
  justify-content: flex-start;
  flex-flow: row-reverse;
  background-color: #2e2e2e;
  padding-right: 14%;
  padding-bottom: 1%;
}

.Card {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  border: none;
}
.gitImg {
  padding-top: 1%;
}
.gitInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  color: #2e2e2e;
  text-decoration: none;
}

.button:hover {
  color: #16a085;
}

@media(max-width:900px){
  .gitProfile {
    display: flex;
    justify-content: center;
    background-color: #2e2e2e;
    padding-left: 22%;
    padding-right: 25%;
    padding-bottom: 1%;
}
}
@media(max-width:500px){
  .gitProfile {
    display: flex;
    justify-content: flex-start;
    flex-flow: row-reverse;
    background-color: #2e2e2e;
    padding-right: 14%;
    /* padding-bottom: 1%; */
}
.gitProfile {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  background-color: #2e2e2e;
  padding-left: 13%;
  padding-right: 15%;
  padding-bottom: 1%;
}
.gitInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #2e2e2e;
  text-decoration: none;
}

}