.aboutMe{
    background-color: #2E2E2E;
}
.introBody{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    /* margin-right: 6vw; */
    justify-content: center;
    padding:1%;
}

.circleImg{
    height: 21vw;
    border-radius: 50%;
    padding-top: 6%;
    padding-bottom: 5%;
    transform: rotate(38deg);
}

.bioHeader{
    width: 9.5rem;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}
.myBio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    /* margin-left: 4%; */
    margin-right: 3%;
}
.mySkills{
    background-color: #f0f0f0;
    border-radius: 16.5px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-bottom: 0%;
    padding-right: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
    width: 50vw;
    text-align: center;
}
.bio{
    border-radius: 16.5px;
    background-color: #f0f0f0;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 50vw;
}
h4{
    margin-bottom: 0;
}

@media(max-width:900px){
    .introBody {
        display: flex;
        flex-flow: column;
        align-items: center;
        /* margin-right: 6vw; */
        justify-content: center;
        padding: 1%;
    }
    .bio {
        border-radius: 16.5px;
        background-color: #f0f0f0;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
        width: 72vw;
    }
    .mySkills {
        background-color: #f0f0f0;
        border-radius: 16.5px;
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        padding-bottom: 0%;
        padding-right: 1%;
        padding-left: 1%;
        margin-bottom: 1%;
        width: 72vw;
        text-align: center;
    }

}