.aboutMe{
    background-color: #2E2E2E;
}
.introBody{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    margin-right: 7vw;
}
.profilePic{
    margin-right: 6%;
}
.circleImg{
    height: 47vh;
    border-radius: 50%;
    padding-top: 6%;
    padding-bottom: 5%;
    transform: rotate(38deg);
}
.bioHeader{
    width: 25%;
    padding-right: 1%;
    padding-left: 1%;
}
.myBio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 9%;
}
.mySkills{
    background-color: #f0f0f0;
    border-radius: 16.5px;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-bottom: 0%;
    padding-right: 1%;
    padding-left: 1%;
    margin-bottom: 1%;
    width: 50vw;
}
.bio{
    border-radius: 16.5px;
    background-color: #f0f0f0;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    width: 50vw;
}
h4{
    margin-bottom: 0;
}
