.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.myName {
  margin-left:2.5rem;
}
.myLocation {
  margin-right: 0%;
}
.contactMe{
  displaY: flex;
  flex-flow: column;
  align-items: center;
  margin-right:2.5rem;
}

@media(max-width:900px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .myName {
  margin-left:0;
  }
  .myLocation {
    margin-right: 0%;
  }
  .contactMe{
    margin-right:0;
  }

}