.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.myName {
  width: 26%;
  margin-left: 2.5rem;
}
.myLocation {
  margin-right: 0%;
}
.contactMe {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 2.5rem;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .myName {
    width: 47%;
    margin-left: 0;
  }
  .myLocation {
    margin-right: 0%;
  }
  .contactMe {
    margin-right: 0;
  }
}
